<!--begin:Navbar items-->
<ul class="navbar-nav ms-auto">
    <!--begin:Home-->
    <li class="nav-item">
        <a class="nav-link @@if (context.page === 'home') {active}" href="index.html">Home</a>
    </li>
    <!--end:Home-->

    <!--begin:Who We Are-->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Who We Are
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><a class="dropdown-item" href="#">Our Certifications</a></li>
            <li><a class="dropdown-item" href="#">Our Values</a></li>
            <li><a class="dropdown-item" href="#">Our Privacy Policy</a></li>
        </ul>
    </li>
    <!--end:Who We Are-->

    <!--begin:Our Services-->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Custom Store Apps</a></li>
            <li><a class="dropdown-item" href="#">Implementations</a></li>
            <li><a class="dropdown-item" href="#">Integrations</a></li>
            <li><a class="dropdown-item" href="#">Staff Augmentation</a></li>
            <li><a class="dropdown-item" href="#">Managed Services</a></li>
            <li><a class="dropdown-item" href="#">About ServiceNow</a></li>
        </ul>
    </li>
    <!--end:Our Services-->

    <!--begin:Careers-->
    <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
    </li>
    <!--end:Careers-->

    <!--begin:Blog-->
    <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
    </li>
    <!--end:Blog-->

    <!--begin:Contact-->
    <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a>
    </li>
    <!--end:Contact-->
</ul>
<!--end:Navbar items-->
